@media screen and (max-width: 540px) {
  .main-container {
    max-width: 95%;
    margin: auto;
  }
  .but {
    font-size: 1rem !important;
    padding: 0.8em !important;
  }
  .site-navbar {
    padding: 1em 0;
  }
  .cart {
    width: 35px !important;
    height: 35px !important;
  }
  .title {
    font-size: 1.4rem !important;
  }
  .logo {
    font-size: 1.5rem !important;
  }

  .badge {
    top: 66.5%;

    bottom: 10%;

    width: 171.95px;
    height: 47px;
  }

  .side-bar {
    display: none;
  }

  .filter-bar {
    margin: 1em 3em;
  }

  .filter-bar ul > li {
    font-size: 22px;
    margin-bottom: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .filter-bar ul > li > input {
    margin-right: 0.5em;
    margin-top: 0.5em;
  }

  .filter-container {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 4120px;
  }

  .filter-inner {
    /* position: relative; */
  }

  .filter-inner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.53;
  }

  .filter-card {
    position: fixed;
    top: 30%;
    z-index: 112;
    background: #ffffff;
    width: 100%;
    min-height: 60vh;
    overflow: hidden;
  }

  .filter-bottom {
    position: absolute;
    top: 45%;
    z-index: 120;
    left: 0;
    background: #ffffff;
    width: 100%;
    padding: 1em 1em;
  }

  .product-list {
    margin-left: auto !important;
    margin-right: auto;
  }

  .product-list-wrapper {
    grid-template-columns: 1fr;
  }

  .bottom > div {
    flex-direction: column;
  }

  .breadcrumbs {
    font-size: 1rem;
  }

  .filters {
    display: block !important;
  }

  .sort {
    display: none !important;
  }

  .bottom {
    margin-bottom: 3em !important;
  }

  .recommended {
    align-items: flex-start !important;
    margin-top: 1em;
  }
}

@media screen and (min-width: 940px) {
  .main-container {
    max-width: 75%;
    margin: auto;
  }
}

@media screen and (min-width: 640px) {
  .main-container {
    max-width: 85%;
    margin: auto;
  }
}

@media screen and (max-width: 1140px) {
  .main-container {
    max-width: 60%;
    margin: auto;
  }
}

@media screen and (min-width: 1340px) {
  .main-container {
    max-width: 50%;
    margin: auto;
  }
}
